/* Tambahkan styling sesuai kebutuhan */
*
{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div    
{
    font-size: large;
    width: 320px;
    gap: 15px    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: white;    
}
button
{
    border: none;
    padding: 15px;
    width: 100%;
    background-color: lightblue;
}
button:hover
{
    background-color: aquamarine;
}