[submodule "web-technology-mid-test-brotherzhafif"]
	path = web-technology-mid-test-brotherzhafif
	url = https://github.com/SILab-Uad/web-technology-mid-test-brotherzhafif
[submodule "uts-tekweb-2024-ujicoba-brotherzhafif"]
	path = uts-tekweb-2024-ujicoba-brotherzhafif
	url = https://github.com/Ruang-Ekspresi-UAD/uts-tekweb-2024-ujicoba-brotherzhafif.git
