/* Tambahkan styling untuk navigasi horizontal dengan efek hover. */
*
{
    padding: 0;
    margin: 0;
}
body
{
    background-color: lightgray;
}
nav
{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 15px darkgray;
}
nav > a
{
    width: 125px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 15px;
}
nav > a:hover
{
    background-color: lightskyblue;
    color: white;
}