/* Tambahkan styling untuk heading, paragraf, dan list di sini */

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 320px;
    background-color: white;
    border-radius: 15px;
}
nav
{
    width: 100%;
    padding: 5px;
}
nav > p
{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    background-color: lightblue;
}