/* Tambahkan styling untuk carousel agar gambar tetap di tengah dan tombol berada di sisi gambar */
*
{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.carousel
{
    border: solid black;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 25px gray;
}
button
{
    border: none;
    width: 50px;
    background-color: lightblue;
}
button:hover
{
    background-color: cyan;
}
button:active
{
    background-color: lightblue;
}